<div class=" py-10 px-20  w-full">
    <div class="flex justify-between items-center">
        <div class="">
           <a class="bg-second font-bold px-4 py-3 rounded-full text-sm text-blanc" href="">
            CHANGER DE COMPTE
            </a> 
        </div>
        
        <!-- Pour aller vers les informations du compte et le modifier -->
        <a href="" class="flex gap-x-4 hover:bg-slate-200 border-transparent p-4 rounded-lg">
            <div class="w-11 h-11 rounded-full bg-slate-300 flex justify-center items-center ">
                <img src="/assets/icons/user.png" alt="">
            </div>

            <div class="flex flex-col ">
                <div class="font-extrabold text-principal">Jonathan TCHANGANI</div>
                <div class="text-second opacity-80 text-xs -mt-1" >jonathantchangani876gmail.com</div>
            </div>
        </a>
    </div>

    <div class=" flex justify-between w-full bg-badge h-72 mt-5 p-12 rounded-[30px]">
        <div>
            <div class="text-3xl text-blanc mb-20" >Bienvenue, <span class="font-extrabold"> Jonathan </span></div>
            <div class="text-blanc mt-20" >Votre solde est:</div>
            <div class="flex gap-x-3">
                <div class="text-blanc text-3xl font-extrabold" >5.000.000</div>
                <div class="text-gray-400 text-3xl font-extrabold" >XOF</div>
                <button class="cursor-pointer"><img src="assets/icons/mdi_eye-off.svg" alt=""></button>
            </div>
        </div>
        <div class="flex flex-col items-end">
            <div class="mb-6" ><img src="assets/icons/Chip.svg" alt=""></div>
            <div class="text-blanc py-1 px-4 rounded-full mt-6 mb-2 bg-principal/45  " >Compte courant</div>
            <div class="text-blanc text-xl font-bold">IBAN: <span>2004 5000 1020 9063</span></div>
        </div>
    </div>

    <div></div>
</div>